<% provide(:title, 'Home') %>
<h1>
	TasteSeeker
</h1>
<h2>
	Every customer is different. Knowing that is powerful.
</h2>

<div class="row">
	<div align="center">
		<div class="span4">
			<%= link_to image_tag("holly-1.png"), what_path %>
			<h3><%= link_to "What we do", what_path %></h3>
		</div>
		<div class="span4">
			<%= link_to image_tag("holly-2.png"), how_path %>
			<h3><%= link_to "How it works", how_path %></h3>
		</div>
		<div class="span4">
			<%= link_to image_tag("holly-3.png"), requests_path %>
			<h3><%= link_to "Request demo", requests_path %></h3>
		</div>
	</div>
</div>