<% provide(:title, 'Quiz') %>
<h1>TasteSeeker Style Quiz</h1>
<h2>Click on the image you like best</h2>

<h3>
	<center>
		Choice <%= @count + 1 %> / 20
	</center>
</h3>

<div id="pictures">
	<div class="row">
		<div class="span3 offset3" align="right">

			<%= form_for([@test, @question]) do |f| %>
				<%= render 'shared/error_messages' %>

				<%= f.hidden_field :item_a, value: @num_a %>
				<%= f.hidden_field :item_b, value: @num_b %>
				<%= f.hidden_field :win,    value: @num_a %>
				<%= f.hidden_field :lose,   value: @num_b %>

				<%= image_submit_tag("item#{@num_a}.png") %>

			<% end %>

		</div>

		<div class="span3">

			<%= form_for([@test, @question]) do |f| %>
				<%= render 'shared/error_messages' %>

				<%= f.hidden_field :item_a, value: @num_a %>
				<%= f.hidden_field :item_b, value: @num_b %>
				<%= f.hidden_field :win,    value: @num_b %>
				<%= f.hidden_field :lose,   value: @num_a %>

				<%= image_submit_tag("item#{@num_b}.png") %>

			<% end %>

		</div>

	</div>
</div>